<% if current_user %>
<div class = 'row-fluid'>
  <div class = 'big_button_container'>
    <div class = "span2"></div>
    <div class = 'span4 landing_big_button' ><%= link_to 'Start Sprint', new_sprint_path %></div>
    <div class = 'span4 landing_big_button' ><%= link_to 'View Sprints', sprints_path %></div>
    <div class = "span2" ></div>
    <div class = 'span12'><%= render :partial => 'notes/form', :locals => {:note => @note} %></div>
    <!--<div class = 'span12'><%= raw(@note_text) %></div>-->
  </div>                                                                                                                                                                        
</div>

<% else %>
	<%= render 'devise/sessions/form' %>
<% end %>
